div {
    width: 700px;
    margin: auto;
    border: 1px solid grey;
    border-radius: 6px;
    padding: 5px;
}
.mybutton {
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}
#smallheading{
    font-size: 10px;
    color: blue;
}